/*
	project: internet encyclopedia
	author: luka cvrk (www.solucija.com)
*/

:link,:visited { text-decoration:none } :focus,:active { outline: 0 } ul,ol { list-style:none } h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; } ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 } a img,:link img,:visited img, fieldset { border:none } address { font-style:normal }

body { font: .8em "Trebuchet MS", Verdana, Helvetica, sans-serif; color: #666;  background-color:limegreen;}
a { color: #AF1515; cursor: pointer; }
a:hover { color: #7D1919; }






	






