body {
   margin: 0;
    
}
#casilla0 { 
    width:175px;
    background-image:url('casillasalida.jpg');

}
#contenedor{
    display: table
}
#contenidofila{
    display: table-row
}
#contenidocolumna{
    display: table-column
}
.casilla{
    display: table-cell
}

