
h3{
    color:"white";
}
#fondo{
    background-image:url(fondoperfil.jpg);
    background-repeat: no-repeat;
    background-position:center;

    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    right: 0%;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {font-size:24; font-weight:bold; color: red;}
A.button {text-decoration: none}
A.button:hover {font-size:24; font-weight:bold; color: red;}
