body {
   margin: 0;
   background-color: aquamarine;
}
#tablero{
 
}
#casilla0{
    position: absolute;
    top:150%;
    left:82.6%;
    right: 0%;
    width: 17.3%;
    height: 26.5%;
  
    
    
}
#casilla9{
    position: absolute;
    top:150%;
    left:0%;
    right: 82.6%;
    width: 15.3%;
    height: 26.5%;
}

#abajo {
    position: absolute;
    width: 65.4%;
    height: 25.45%;
    left: 16%;
    right:88%;
    top:150%;
 
    border-right-width:  1px;
   
    background-color: #b5d3ff;
}

.casillasabajo{
    position: absolute;
    width: 12%;
    height: 100%;
    border-style: solid;
    border-color:  #333;
    background-color:  #82cb2f;

}






