
#nom{
    color:#e10c0c;
    font-size: 10pt;
}
#ape{
    color:#e10c0c;
    font-size: 10pt;
}
#fecha{
    color:#e10c0c;
    font-size: 10pt;
}
#titulo{
     color:#FFF;
     
}
#cabezera{
    position: absolute;
    top:5%;
    left: 6%;
    font-size: 140%;
    color: white;
}

#contenido{
    
    
    margin-left: 0%;
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0%;
    top: 25%;
    font-family:arial;
    font-size: 10pt;
    border-top: darkgreen;
    border-top-style:double;
    border-top-width: thick;
    background-image: -moz-linear-gradient(limegreen,#A2EF95);
    background-image: -webkit-gradient(linear, center top, center bottom, from(limegreen), to(#A2EF95));
}
#pie{
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0%;
    top: 85%;
    background-color:#A2EF95;
}
#datospersonales{
    
   
    position: absolute;
    width: 50%;
    height: 100%;
    left: 10%;
    top: 15%;
    


}
#estadisticas{
    
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 5%;
    text-align: center;
  


}
#mensajes{

    position: absolute;
    width: 25%;
    height: 100%;
    left: 50%;
    top: 15%;
    text-align: center;


}
#salir{

    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0%;
    text-align: center;

}
.botonMenu{
  
    color: white;
    cursor: pointer;
    text-decoration: none;

}
.botonMenu:hover{
    font-size: x-large;
    font-weight: bold;
  
}
.botonMenu:active{
    font-size: x-large;
    font-weight: bold;
    color: red;
}

#aJugar{
     position: absolute;
     left: 75%;
     width: 15%;
     
     
}
#tablaContenido{
    position: absolute;
     left: 53%;
     width: 15%;
     color: #FFF;
     border-bottom-style: solid;
     border: #FFF;
     text-align: center;
     
    
}
#nickUsuariosMejores{
     position: absolute;
     left: 28%;
     width: 15%;
     color:#FFF;
     border-bottom-style: solid;
     border: #FFF;
     text-align: center;
    
}
#menuMensajes{
     position: relative;
     left: 5%;
     top:35%;
     width: 10%;
     color: #FFF;
}
#menuMensajes div{
    
    cursor: pointer;
}
#menuMensajes div:hover{
    
   
    background-color:darkgreen;
}

#enviarMensaje{
    position: absolute;
    left: 15%;
    top: 10%;
    width: 75%;
    height: 80%;
    
}
#bandejaEntrada{
    position: absolute;
    left: 15%;
   top: 15%;
    width: 75%;
    height: 80%;
    
}
#bandejaEntrada{
    color:#FFF;
}

#contenedorUnirse{
    position: absolute;
    left:42.5%;
    top: 15%;
    width: 15%;
    height: 20%;
    text-align: center;
    color: #FFF;
   
}

#money1{
    position: absolute;
    left: 23%;
    top:30%;
}

#money2{
    position: absolute;
    left: 58%;
    top:30%;
}

#aJugarPartida{
    position: absolute;
    left:42.5%;
    top:50%;
    width: 15%;
    height: 15%;
    color:darkgreen;
}
#notificaciones{
    position: absolute;
    color:darkgreen;
    left: 40%;
    top:10%;
    width: 20%;
    height: 30%;
    text-align: center;
    text-transform: capitalize;
    font-size: 150%;
}
