body {
    background-color:  cornsilk;
}
#jugador1{
    position: absolute;
    top:129.85%;
    left:82.5%;
    width:100px;
    height: 100px;
    z-index:5;

    border-style: solid;
}
#jugador2{
    position: absolute;
    top:129.85%;
    left:82.5%;
    width: 8%;
    height: 25.5%;
    z-index:6;

    border-style: solid;
}
#jugador3{
    position: absolute;
    top:129.85%;
    left:82.5%;
    width: 8%;
    height: 25.5%;
    z-index:6;

    border-style: solid;
}
#jugador4{
    position: absolute;
    top:129.85%;
    left:82.5%;
    width: 8%;
    height: 25.5%;
    z-index:6;

    border-style: solid;
}
#casilla0{
    position: absolute;
    top:129.85%;
    left:82.5%;
    width: 16.1%;
    height: 26.5%;
    z-index: 1;
}
#casilla9{
    position: absolute;
    top:129.85%;
    left:1%;
    width: 16.1%;
    height: 26.5%;
    z-index: 1;
}
#casilla18{
    position: absolute;
    top:1%;
    left:1%;
    width: 16.1%;
    height: 26.5%;
    z-index: 1;
}
#casilla27{
    position: absolute;
    top:1%;
    left:82.5%;
    right: 0%;
    width: 16.1%;
    height: 26.5%;
}




.casillasabajo{
    position: absolute;
    width: 12%;
    height: 100%;
    border-style: solid;
    border-color:  #333;
    background-color: #f7fafd;

}

#abajopeke{
    position: absolute;
    width: 100%;
    height: 40%;
    border-bottom-style: solid;    

}

.casillasizq{
    position: absolute;
    width:100%;
    height:12%;
    border-style: solid;
    border-color: #333;
    background-color: #f7fafd;
    z-index: 1;

}
#izquierdapeke{
    position: absolute;
    width: 40%;
    height: 100% ;
    right: 0%;
    border-left-style:solid;
 
}
.casillasarriba{
    position: absolute;
    width: 12%;
    height: 100%;
    border-style: solid;
    border-color:  #333;
    background-color: #f7fafd;

}
#arribapeke{
    position: absolute;
    width: 100%;
    height: 40%;
    border-bottom-style: solid;
}
.casillasdech{
    position: absolute;
    width:100%;
    height:12%;
    border-style: solid;
    border-color:  #333;
    background-color: #f7fafd;
}
#derechapeke{
    position: absolute;
    width: 40%;
    height: 100% ;
    right: 59.3%;
    border-right-style:solid;

}


#tablero {
    position: static;
    width: 100%;
    height: 100%;
    left: 0%;
    top:0%;
    
}



#abajo {
    position: absolute;
    width: 65.4%;
    height: 25.45%;
    left: 17%;

    top:130%;

    border-right-width:  1px;

    background-color: #b5d3ff;
}
#arriba{
    position: absolute;
    width: 65.4%;
    height: 25.45%;
    left: 17%;
    top:1%;
    border-right-width:  1px;
    background-color: #b5d3ff;
}
#lateralderecha{
    position: absolute;
    width:  15.7%;
    height: 102.2%;
    left:82.5%;
    top: 27.4%;
    background-color: #444;

}
#lateralizq{
    position: absolute;
    width:  15.7%;
    height: 102.2%;
    left:1%;
    top: 27.4%;
    background-color: #444;
}
#centroFondo{
    position: absolute;
    width: 65.3%;
    height: 102.8%;
    left:17.2%;
    top: 27.2%;
    z-index: 1;
    
}

#centro{
    position: absolute;
    width: 65.3%;
    height: 102.8%;
    left:25.2%;
    top: 50.2%;
    z-index: 2;
}




.colorgris{
    background-color:  #c0c0c0
}
.colorazul{
    background-color: #b5d3ff;
}
.colornaranja{
    background-color:  darkorange;
}
.colorrojo{
    background-color: #e10c0c;
}
.colorrosa{
    background-color:  #ffbfbf;
}
.coloramarillo{
    background-color: #fdd425;
}
.colorverde{
    background-color: #A2EF95;
}
.colorazuloscuro{
    background-color: darkblue;
}


